<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">关于本站</h2></a>
<a href="{{ "/movies" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">电影相关</h2></a>
<a href="{{ "/accbil" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">意外的百万富翁</h2></a>
<a href="{{ "/articles" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">文章</h2></a>
<a href="{{ "/media" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">图片视频</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
