<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">关于本站</h2></a>
<a href="{{ "/movies" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">电影相关</h2></a>
<a href="{{ "/accidentialbillionaires" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">意外的百万富翁</h2></a>
<a href="{{ "messages" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">短新闻</h2></a>
<a href="{{ "/articles" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">文章</h2></a>
<a href="{{ "/socialmedia" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">社交媒体动态</h2></a>
<a href="{{ "/picsplusvideos" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">图片视频</h2></a>
<a href="{{ "/tech" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">技术</h2></a>
<a href="{{ "/topics" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">专题</h2></a>
